<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <tonder>
                <active>1</active>
                <model>Tonder\Payment\Model\Method\Adapter</model>
                <order_status>pending</order_status>
                <title>Tonder</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
                <mock_api>https://stoplight.io/mocks/tonder/tonder-api-v1-2/3152148/</mock_api>
                <stage_api>https://stage.tonder.io/api/v1/</stage_api>
                <live_api>https://app.tonder.io/api/v1/</live_api>
                <date_delim>-</date_delim>
                <cc_year_length>2</cc_year_length>
                <ccfields>card_cvn,card_expiry_date,card_number</ccfields>
                <cctypes>VI,MC</cctypes>
                <is_gateway>1</is_gateway>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_use_internal>1</can_use_internal>
                <can_use_checkout>1</can_use_checkout>
                <can_initialize>0</can_initialize>
                <can_cancel>0</can_cancel>
                <can_void>0</can_void>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_refund>1</can_refund>
                <paymentInfoKeys>transaction_type,card_number,cc_type,card_expiry_date,transaction_id,response_code,reference_num,error_messages</paymentInfoKeys>
                <privateInfoKeys>card_expiry_date,cc_cid_enc,cc_card_holder</privateInfoKeys>
                <cctypes>VI,MC,AE</cctypes>
            </tonder>
        </payment>
        <csp>
            <policies>
                <storefront>
                    <frame-ancestors>
                        <inline>0</inline>
                    </frame-ancestors>
                </storefront>
            </policies>
        </csp>
    </default>
</config>
