<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="payment" sortOrder="1000" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
			<group id="tonder" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
				<label>Tonder Payment Gateway</label>
				<field id="active" type="select" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Enabled</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="title" type="text" sortOrder="20" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Title</label>
				</field>
				<field id="version" translate="label comment" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Version</label>
					<frontend_model>Tonder\Payment\Block\Adminhtml\System\Config\Field\Version</frontend_model>
					<comment>The version number of the Tonder Payment extension.</comment>
				</field>
				<field id="mode" type="select" sortOrder="25" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Server</label>
					<source_model>Tonder\Payment\Model\Config\Source\Mode</source_model>
					<depends>
						<field id="active">1</field>
					</depends>
				</field>
				<field id="merchant_id" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Merchant ID</label>
					<validate>required-entry no-whitespace</validate>
					<depends>
						<field id="active">1</field>
					</depends>
				</field>
				<field id="token" translate="label" type="obscure" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Token</label>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<validate>required-entry no-whitespace</validate>
					<depends>
						<field id="active">1</field>
					</depends>
				</field>
				<field id="order_status" type="select" sortOrder="30" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>New Order Status</label>
					<source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
				</field>
				<field id="payment_action" translate="label" type="select" sortOrder="32" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Payment Action</label>
					<source_model>Tonder\Payment\Model\Adminhtml\Source\PaymentAction</source_model>
					<depends>
						<field id="active">1</field>
					</depends>
				</field>
				<field id="allowspecific" type="allowspecific" sortOrder="400" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Payment from Applicable Countries</label>
					<source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
				</field>
				<field id="specificcountry" type="multiselect" sortOrder="500" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Payment from Applicable Countries</label>
					<source_model>Magento\Directory\Model\Config\Source\Country</source_model>
					<can_be_empty>1</can_be_empty>
				</field>
				<field id="sort_order" type="text" sortOrder="600" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Sort Order</label>
				</field>
				<field id="instructions" type="textarea" sortOrder="700" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Instructions</label>
					<comment><![CDATA[Please use {{term_link}}{{/term_link}}, {{policy_link}}{{/policy_link}} to create download link for Tonder T&C, Policy PDF files.]]></comment>
				</field>
				<group id="form_configuration" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="1000">
					<label>Credit Card Form Configuration</label>
					<field id="cardholder_name" type="text" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
						<label>Cardholder Name Label</label>
					</field>
					<field id="card_number" type="text" sortOrder="20" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
						<label>Card Number Label</label>
					</field>
					<field id="expiration_date" type="text" sortOrder="30" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
						<label>Expiration Date Label</label>
					</field>
					<field id="month" type="text" sortOrder="40" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
						<label>Month Label</label>
					</field>
					<field id="year" type="text" sortOrder="44" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
						<label>Year Label</label>
					</field>
					<field id="jan" type="text" sortOrder="45" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
						<label>01 - January</label>
					</field>
					<field id="feb" type="text" sortOrder="46" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
						<label>02 - February</label>
					</field>
					<field id="mar" type="text" sortOrder="47" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
						<label>03 - March</label>
					</field>
					<field id="apr" type="text" sortOrder="48" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
						<label>04 - April</label>
					</field>
					<field id="may" type="text" sortOrder="49" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
						<label>05 - May</label>
					</field>
					<field id="jun" type="text" sortOrder="50" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
						<label>06 - June</label>
					</field>
					<field id="jul" type="text" sortOrder="51" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
						<label>07 - July</label>
					</field>
					<field id="aug" type="text" sortOrder="52" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
						<label>08 - August</label>
					</field>
					<field id="sep" type="text" sortOrder="53" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
						<label>09 - September</label>
					</field>
					<field id="oct" type="text" sortOrder="54" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
						<label>10 - October</label>
					</field>
					<field id="nov" type="text" sortOrder="55" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
						<label>11 - November</label>
					</field>
					<field id="dec" type="text" sortOrder="56" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
						<label>12 - December</label>
					</field>
					<field id="card_verification_number" type="text" sortOrder="60" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
						<label>Card Verification Number Label</label>
					</field>
					<field id="card_tooltip_message" type="text" sortOrder="70" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
						<label>Card Tooltip Message</label>
					</field>
				</group>
			</group>
		</section>
	</system>
</config>
